*{
    padding: 0;
    margin: 0;
}
.banner-main{
    width: 1120px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.banner-item{
    width: 1120px;
    height: 400px;
    position : absolute;
    text-align: center;
    line-height: 400px;
    font-size: 100px;
    background: #fff;
    box-sizing: border-box;
    border: 5px solid #000;
}
.banner-item.active{
    z-index: 2;
}
#prev,#next{
    height: 60px;
    width: 40px;
    background:red;
    position: absolute;
    z-index: 999;
}
#prev{
    left: 0;
    top: 50%;
    margin-top: -30px;
}
#next{
    right: 0;
    top: 50%;
    margin-top: -30px;
}

